<%= f.text_field :name, :required => true %>
<%= f.text_field :url %>
<%= f.text_area :description, :rows => 5 %>

<%= f.date_select :start_date, :label => "Start Date", :use_short_month => true, :order => [:day, :month, :year], :include_blank => true, :default => nil %>
<%= f.date_select :end_date, :label => "End Date", :use_short_month => true, :order => [:day, :month, :year], :include_blank => true, :default => nil %>
<%= f.date_select :cfp_date, :label => "Call for Proposals", :class =>'hori', :use_short_month => true, :order => [:day, :month, :year], :include_blank => true, :default => nil %>
<%= f.date_select :reg_date, :label => "Registration Opens", :use_short_month => true, :order => [:day, :month, :year], :include_blank => true, :default => nil %>
<%= f.date_select :cfp_close_date, :label => "Proposals deadline", :use_short_month => true, :order => [:day, :month, :year], :include_blank => true, :default => nil %>


<fieldset>
  <label>Location</label>
  <% f.fields_for :location do |location_form| %>

    <%= location_form.text_field :city %>
    <%= location_form.text_field :state %>
    <div class="clearfix field_wrap">
      <%= location_form.label "Country" %>
      <%= location_form.country_select :country, ['United States','United Kingdom'] %>
    </div>
    <% unless location_form.object.new_record? %>
      <%= location_form.check_box '_delete' %>
    <% end %>

  <% end %>
</fieldset>
