<% unless @events.blank? -%>
  <h2>Events</h2>
  <%= form_tag delete_group_admin_events_path, :method => :delete do -%>
    <table id="summary">
      <tr>
        <th>Delete</th>
        <th>Twitter</th>
        <th>Name</th>
      </tr>
    <% @events.each do |event| -%>
      <tr class="<%= event.approved? ? 'approved' : 'not-approved' %>">
        <td><%= check_box_tag "event_ids[]", event.id %></td>
        <td><%= event.twitter %></td>
        <td><%= link_to event.name, edit_admin_event_path(event.id) %></td>
      </tr>
    <% end -%>
    </table>
    <%= submit_tag "Delete Checked" %>
  <% end -%>
<% end -%>
