- if h_f.object.new_record?
  %h4 New happening
- else
  %h4= h_f.object.summary

= h_f.input :url, :label => 'URL', :hint => "http://www.myrubyconf.com"
= h_f.input :description, :input_html => {:rows => 3}

%div.field_wrap.clearfix
  =label :start_at, "Start date"
  = h_f.date_select :start_at, :order => [:day, :month, :year ], :start_year => 1.year.ago.year

%div.field_wrap.clearfix
  =label :end_at, "End date"
  = h_f.date_select :end_at, :order => [:day, :month, :year ], :start_year => 1.year.ago.year, :include_blank => true

%div.secondary
  %h5 Proposals
  = h_f.input :cfp_open, :as => :boolean, :label => 'Call for proposals open'
  %div.field_wrap.clearfix
    =label :cfp_closes_at, "CFP closes"
    = h_f.date_select :cfp_closes_at, :order => [:day, :month, :year ], :start_year => Time.now.year, :include_blank => true

%div.secondary
  %h5 Registering
  = h_f.input :sold_out, :as => :boolean, :label => 'Sold out'
  = h_f.input :open_for_reg, :as => :boolean, :label => 'Registration open'
  = h_f.input :cost, :size => 7, :limit => 7, :label => 'Registration cost', :class => 'short', :hint => '195'
  = h_f.input :currency, :size => 3, :limit => 3, :class => 'short', :hint => '£', :wrapper_class => 'currency'

%div.secondary
  %h5 Facilities
  = h_f.input :childcare, :as => :boolean, :label => 'Offers childcare'

%div.secondary.clearfix
  %h5 Location
  %div.choice.left
    = h_f.select :location_id, Location.all.collect {|l| [l.city_state_country, l.id]}, { :prompt => 'Select an existing location', :include_blank => true, :hide_label => true}, {:class => 'country'}

  %div.or.left
    %p Or

  %div.choice.left
    %div{:id => "new_location"}
    = h_f.fields_for :location do |l_f|
      - unless l_f.object.new_record?
        - l_f.object = h_f.object.build_location
      = l_f.input :city
      = l_f.input :state
      = l_f.country_select :country, ['Anywhere'], {:prompt => 'Please select', :include_blank => true}, {:class => 'country'}