<div class="box availability <%= upcoming.status %>">
   <% if upcoming.open_for_reg -%>
     <h5>Registration</h5>
     <p>Registration is open</p>
   <% end -%>
   <% unless upcoming.cost.blank? %>
     <p class="cost">Registration cost <sup class="footnote"><%= link_to "1", "#fn1" %></sup>: <%= number_to_currency(upcoming.cost, :unit => upcoming.currency) %></p>
   <% end -%>
 </div>

<div class="box location">
  <h5>Location</h5>
  <p class="temp">[temp] Venue name, address, country</p>
  <p><%= link_to "Map", "#" %></p>
</div>

<div class="box cfp">
  <h5>Proposals</h5>
    <% if upcoming.cfp_open -%>
     <p>Call for proposals is open 
       <% unless upcoming.cfp_closes_at.blank? -%> 
         <br />
         <span class="deadline">Closes: <%= format_date(upcoming.cfp_closes_at) %></span>
       <% end -%>
     </p>
    <% else -%>
     <p>Call for proposals is closed</p>
    <% end -%>
</div>

<div class="box location">
  <h5>Facilities</h5>
  <p>Childcare available: <%= upcoming.childcare? ? 'yes' : 'no' %></p>
</div>


<div class="box">
 <p>Flight options?</p>
</div>

<div class="box">
 <p>Accommodation options?</p>
</div>


<% unless upcoming.cost.blank? %>
  <% content_for :side_footer do %>
    <div id="footnotes">
      <p id="fn1">
       <sup>1</sup>Cost reflects a standard ticket price for the main event. There may be early bird offers, discounts or extras, such as training workshops, available also. Check with the event site for details.
      </p>
    </div>
  <% end -%>
<% end -%>