.wrapper.clearfix
  .main.left
    %ul
      %li
        = link_to "home", root_url
      %li
        = link_to "archive", archive_path
      %li
        = link_to "contact", contact_path
      %li
        = link_to 'RSS', 'http://feeds.feedburner.com/RubyThere'
  .side.right
    = raw "made by #{link_to 'Keavy', 'http://www.keavy.co.uk'}"