.wrapper.clearfix
  .main.left
    %ul
      %li
        = link_to "home", root_url
      %li
        = link_to "archive", archive_path
      %li
        = mail_to EMAIL_CONTACT, "contact", :encode => 'hex'
      %li
        = link_to 'RSS', 'http://feeds.feedburner.com/RubyThere'
  .side.right
    = "a #{link_to 'minimetre', 'http://www.minimetre.com'} site"