<ul id="menu">
  <li><%= link_to "Events to attend", events_to_path('attend') %></li>
  <li><%= link_to "Events to speak at", events_to_path('speak') %></li>
  <li><%= link_to "Past events", archive_happenings_path %></li>
  <li><%= mail_to EMAIL_CONTACT, "Contact", :encode => 'hex' %></li>
  <li><%= link_to "Submit an event", "#" %></li>
</ul>