%div
  %h4 About the event:
  = f.text_field :name, :required => true, :hint => "My Ruby Conf"
  = f.text_field :twitter, :label => "Twitter name", :hint => "myrubyconf"
  = f.text_area :description, :rows => 3
  
  - f.fields_for :happenings do |h_f|
    = h_f.text_field :url, :label => 'URL', :hint => "http://www.myrubyconf.com"
    
    %div.field_wrap.clearfix
      =label :start_at, "Start date"
      = h_f.date_select :start_at, :order => [:day, :month, :year ], :start_year => 1.year.ago.year
      
    %div.field_wrap.clearfix
      =label :end_at, "End date"
      = h_f.date_select :end_at, :order => [:day, :month, :year ], :start_year => 1.year.ago.year, :include_blank => true
    
    %div.secondary
      %h5 Proposals
      = h_f.check_box :cfp_open, :label => 'Call for proposals open'
      %div.field_wrap.clearfix
        =label :cfp_closes_at, "CFP closes"
        = h_f.date_select :cfp_closes_at, :order => [:day, :month, :year ], :start_year => Time.now.year, :include_blank => true
    
    %div.secondary
      %h5 Registering
      = h_f.check_box :open_for_reg, :label => 'Registration open'
      = h_f.text_field :cost, :size => 7, :limit => 7, :label => 'Registration cost', :class => 'short', :hint => '195'
      = h_f.text_field :currency, :size => 3, :limit => 3, :class => 'short', :hint => '£'
    
    %div.secondary
      %h5 Facilities
      = h_f.check_box :childcare, :label => 'Offers childcare'
      
    %div.secondary
      %h5 Location
      - h_f.fields_for :location do |l_f|
        = l_f.text_field :city
        = l_f.text_field :state
        = l_f.country_select :country, ['United States','Anywhere'], {:prompt => 'Please select', :include_blank => true}, {:class => 'country'}

  - unless @event.admin_submitted    
    %div.secondary
      %h4 About you:
      %p This information will not be displayed on the site    
    - f.fields_for :submitter do |s_f|
      = s_f.text_field :first_name
      = s_f.text_field :last_name
      = s_f.text_field :email
      = s_f.text_field :twitter
    