- @page_title = "Ruby events to #{@focus}"
- @page_title += " at" if @focus == 'speak'

= render :partial => @focus, :locals => {:happenings => @happenings}

= content_for :side do
  = render :partial => 'shared/box_search'
  = render :partial => 'shared/box_submit'
  = render :partial => 'shared/calendar'