.wrapper.clearfix

  %h1 Submit an event
  
  - labeled_form_for setup_event(@event), :url => events_path do |f|
  
    = f.error_messages
    
    %div
      %h4 About the event:
      = f.text_field :name, :required => true, :hint => "My Ruby Conf"
      = f.text_field :twitter, :label => "Twitter name", :hint => "myrubyconf"
      = f.text_area :description, :rows => 3
      
      - f.fields_for :happenings do |h_f|
        = h_f.text_field :url, :label => 'URL', :hint => "http://www.myrubyconf.com"
        
        %div.field_wrap.clearfix
          =label :start_at, "Start date"
          = h_f.date_select :start_at, :order => [:day, :month, :year ]
          
        %div.field_wrap.clearfix
          =label :end_at, "End date"
          = h_f.date_select :end_at, :order => [:day, :month, :year ], :include_blank => true
        
        %h5 Registering
        = h_f.check_box :cfp_open, :label => 'Call for proposals open'
        = h_f.check_box :open_for_reg, :label => 'Registration open'
        = h_f.text_field :cost, :size => 7, :limit => 7, :label => 'Registration cost', :class => 'short', :hint => '195'
        = h_f.text_field :currency, :size => 3, :limit => 3, :class => 'short', :hint => '£'
        
        %h5 Facilities
        = h_f.check_box :childcare, :label => 'Offers childcare'
      
      
      
    %div.secondary
      %h4 About you:
      %p This information will not be displayed on the site
      
    .submit
      =image_submit_tag('btn_submit.gif')