- @page_title = @event.name

.wrapper.clearfix
  = image_tag "http://img.tweetimag.es/i/#{@event.twitter}_o", :class => 'logo' unless @event.twitter.blank?
  %h1= @event.name
  
  - if @latest
    .primary_info
      %p.date 
        - if @latest.past?
          %p.past Last held:
        %span.date= event_date(@latest.start_at,@latest.end_at)
        %span.location= " / #{@latest.location.city_state_country}" if @latest.location
      %p.cost= "Registration cost: #{number_to_currency(@latest.cost, :unit => @latest.currency)}"
      =link_to @latest.www, @latest.url, :class => 'primary'
  
    .secondary_info
      .box
        %h4 Event Facilities:
        = "#{cross_or_tick(@latest.childcare)} Offers childcare"
    
      .box
        %h4 Keynotes by:
    
      .box 
        %h4 Speakers include:
    
      .last
        %h4 Organiser's registration:
        %p= "Event organisers #{link_to 'register here', register_path, :class => 'primary'} to update/amend details"
        
  - content_for :side do
    #tweets
      %h3= "Tweets about #{@event.name}"
      .follow 
        %p Follow us:
        = link_to "@#{@event.twitter}", "http://twitter.com/#{@event.twitter}"
      %ul
      - cache "tweets/event_#{@event.id}" do
        - tweets = Tweet.messages_for(@event.twitter,4)
        - tweets.each do |tweet|
          %li
            = link_to "@#{tweet[:from_user]}", "http://twitter.com/#{tweet[:from_user]}/status/#{tweet[:id]}"
            %p= tweet[:text]
      
      
    
   


