<%= image_tag "http://img.tweetimag.es/i/#{@event.twitter}_b" unless @event.twitter.blank? %>
<h2><%= @event.name %></h2>

<p class="event_date">[temp]Show date here</p>
<p class="event_links"><%= link_to @event.url, @event.url %>  <%= twitter_link(@event.twitter) %></p>

<div class="box description">
  <%= @event.description_formatted %>
</div>

<h3>Speakers include</h3>
<ul id="speakers">
  <% 20.times do %>
    <li><%= link_to "Speaker name", "#" %> / talk title talk title</li>
  <% end -%>
</ul>


<% content_for :side do -%>
  <%= render :partial => 'happenings/upcoming', :collection => @upcoming -%>
<% end -%>


