- @page_title = "Contact"

.wrapper.clearfix

  %h1 Contact details
  %p= "The site is planned and built by Keavy McMinn, #{link_to 'minimetre', 'http://www.minimetre.com'}"
  %p= "Design was by #{link_to 'Mode Creative', 'http://www.modecreative.co.uk/'}"
  %p= "Get in touch via email: #{mail_to 'mail@rubythere.com', 'mail@rubythere.com', :encode => :hex} or Twitter: #{twitter_link('rubythere')}"