- @page_title = "Contact"

%h1 Contact details
%p= raw "The site is planned and built by #{link_to 'Keavy McMinn', 'http://www.keavy.co.uk'}"
%p= raw "Design was by Lynn McGowan, #{link_to 'Mode Creative', 'http://www.modecreative.co.uk/'}"
%p= raw "Get in touch via email: #{mail_to 'mail@rubythere.com', 'mail@rubythere.com', :encode => :hex} or Twitter: #{twitter_link('rubythere')}"

= link_to image_tag("http://workingwithrails.com/images/tools/compact-small.jpg", :class => 'wwrails'), "http://workingwithrails.com/recommendation/new/person/7926-keavy-mcminn"