<% unless options[:no_wrapper] -%>
  <div class="clearfix field_wrap">
<% end -%>
    <%= label if label %>
    <%= error %>
    <% if options[:example] -%>
      <p class="example">Example: <%= options[:example] -%></p>
    <% end -%>
    <%= element %>
    <% if options[:hint] -%>
      <small><%= options[:hint] -%></small>
    <% end -%>
<% unless options[:no_wrapper] -%>
  </div>
<% end -%>
