<h2>Login</h2>

<div class="main left">
  <%= error_messages_for :user_session %>

  <% form_for @user_session, :url => admin_user_session_path do |f| %>
    <div class="clearfix field_wrap">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    
    <div class="clearfix field_wrap">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    
    <div class="clearfix field_wrap">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
    
      
    <%= f.submit "Login" %>
  <% end %>
</div>

<div class="side right">
</div>