%head
  %meta{ :name => "keywords",    :content => "Ruby, Rails, Conferences, Events" }/
  %meta{ :name => "description", :content => "Travelling Rubyist: Events of interest to Rubyists around the world#{": #{@page_title}" if @page_title}" }/
  %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }/
  
  %title
    Minimetre
    = " &middot; #{@page_title}" if @page_title
      
  = stylesheet_link_tag 'fonts-min',        :media => "all"
  = stylesheet_link_tag 'reset-min',        :media => "all"
  = stylesheet_link_tag 'travelling',        :media => "all"