!!! Strict
%html
  = render :partial => 'layouts/head'
  %body
    #doc
      #hd.clearfix
        %h1= link_to 'ruby there', root_path
        %h2 Events of interest to rubyists around the world
        - if current_user
          = render :partial => 'shared/user_bar'
      
      #bd
        = render :partial => 'layouts/flash', :locals => {:flash => flash}
        = render :partial => 'shared/menu'
       
        #content.clearfix
          .main.left
            = yield
          .side.right
            = yield :side

      #ft
        = render :partial => 'shared/footer'
      = render :partial => 'shared/analytics'