!!!
%html
  = render :partial => 'layouts/head'
  %body
    #doc
      #hd.clearfix
        = link_to image_tag('rubythere.gif'), root_path
        = image_tag 'header_subtitle.gif'
      
      #bd
        = render :partial => 'layouts/flash', :locals => {:flash => flash}
        = render :partial => 'shared/menu'
       
        #content.clearfix
          .main.left
            = yield
          .side.right
            = yield :side

      #ft
        = render :partial => 'shared/footer'
      = render :partial => 'shared/analytics'