<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= (yield(:title) || "Travelling Rubyist") %></title>
	<%= stylesheet_link_tag 'fonts-min','reset-min', 'formtastic', 'formtastic_changes', 'travelling' %>
	
	<%= javascript_include_tag :all %>
  <%= yield :head %>
</head>

<body<%= @body_id %> class="<%= @body_class%>">
  <div id="doc">
   <div id="hd" class="clearfix">
    <h1><%= link_to 'RubyVous', root_path %></h1>
    <p>Events of interest to Rubyists around the world</p>
   </div>
   
   <div id="bd" class="clearfix">
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <%- end -%>
    
    <div id="page_head">
      <%= yield :page_head %>
    </div>
    
    <div id="content" class="clearfix">
      <div class="main left">
        <%= yield %>
      </div>
      <div class="side right">
        <%= yield :side %>
      </div>
    </div>
   </div>
   
   <div id="ft">
   </div>
  </div>
</body>
</html>
