!!! Strict
%html
  = render :partial => 'layouts/head'
  %body
    #doc
      #hd.clearfix
        = render :partial => 'shared/header'
      
      #bd
        = render :partial => 'layouts/flash', :locals => {:flash => flash}
        = render :partial => 'shared/menu'
       
        #content.clearfix
          .main.left
            .wrapper.clearfix
              = yield
          .side.right
            = yield :side

      #ft
        = render :partial => 'shared/footer'
    = render :partial => 'shared/analytics'
    = render :partial => 'shared/user_voice'